
<section class="produto-do-dia">
  <h1>Produto Do Dia</h1>
  <h2 class="home-produto-titulo"><%= produto.nome %></h2>
  <img src="img/<%= produto.foto %>" class="produtoDoDia"/>
  <div class="home-produto-conteudo">
  <p class="textoProdutoDia">
    <%= produto.descricao %>
  </p>
</section>

<h1>Unidades</h1>
 


  <section class="unidades">  
    <% localUnidades.forEach(dadosUnidades =>{ %>
    <section class="unidade">
      <p><%= dadosUnidades.nome %> 
    <div class="google-maps1">
      <iframe src="<%=dadosUnidades.mapa%>"></iframe>
    </div> 
    <p><%=dadosUnidades.planoA%><br>
    <%=dadosUnidades.planoB%><br>
    <%=dadosUnidades.planoC%>
  </section>

  <% }) %>

